<!doctype html>
<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
        <span class="toggle-button bs-tooltip" style="display: inline-block; cursor: pointer"
        data-toggle="tooltip" data-placement="right" title="Click to toggle sidebar"><i class="fa fa-dashboard"></i>
        </span>
         Query cubes</h1>
    </div>
</div>
<!-- /.row -->

<div class="row" id="newwrapper">
    <div id="sidebar-wrapper"  class="col-lg-4">
        <form role="form" id="getcubes" method="get" action="getcubes">
            <i class="fa fa-shield fa-rotate-270"></i>
            <label>Pick a SPARQL endpoint</label>
            <div class="form-group form-inline">
                <select class="form-control" name="endpoint">
                    <option>http://www.fing.edu.uy/inco/grupos/csi/sparql</option>
                </select>
                <input type="hidden" name="target" value="queries"></input>
                <button type="submit" class="btn btn-xs btn-primary getcubes-btn">Get cubes</button>
            </div>
        </form>

        <div class="working" id="working" style="display: none">
            <i class="fa fa-refresh fa-spin fa-5x"></i>                          
        </div>
          
        {{#if session.cubes}}
        <form role="form" method="get" action="getcompletecube">
                <i class="fa fa-cubes fa-fw"></i>   
                <label>Pick a QB4OLAP cube to explore</label>
                {{#showCubes session.cubes "queries"}}
                    {{name}}
                {{/showCubes}}
        </form>
        {{/if}}

        {{#if session.schema}}
        <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <i class="fa fa-cube fa-fw"></i>
                Cube structure           
            </h3>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item">
                    <p class="list-group-item-text">
                    {{#showDimensions session.schema.dimensions}}
                    {{name}}
                    {{/showDimensions}}
                    </p>
                </li>
                <li class="list-group-item">
                    <h5 class="list-group-item-heading">Measures</h5>
                    <p class="list-group-item-text">
                    {{#showMeasures session.schema.measures}}
                    {{uri}}
                    {{/showMeasures}}          
                </li>
            </ul>
        </div>
        </div>
        {{/if}}

    </div>

    <!-- /.col -->
     
    <div id="main-wrapper" class="col-lg-8">

    {{#if session.schema}}    
        <div class="working" id="working" style="display: none">
            <i class="fa fa-refresh fa-spin fa-5x"></i>                          
        </div>
        <div class="panel-group" id="accordionQL">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordionQL" href="#collapseQueries">
                            <i class="fa fa-cogs fa-fw"></i> 
                            Pick a sample QL query
                            <i class="fa fa-fw fa-chevron-down"></i>
                        </a>
                    </h3>
                </div>
                <div id="collapseQueries" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="list-group">
                            {{#each session.queries}}
                            <a href="#{{queryid}}" id="{{queryid}}" value="{{query}}" class="list-group-item query-list">
                                <i class="fa fa-fw fa-hand-o-right"></i>{{querydesc}}
                            </a>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                        <h3 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordionQL" href="#collapseQLEditor">
                                <i class="fa fa-pencil-square-o fa-fw"></i> 
                               QL editor
                                <i class="fa fa-fw fa-chevron-down"></i>
                            </a>
                        </h3>
                </div>
                {{#if editoraccordion}}
                <div id="collapseQLEditor" class="panel-collapse collapse in">
                {{else}}
                <div id="collapseQLEditor" class="panel-collapse collapse">
                {{/if}}
                    <div class="panel-body">
                        <div id="editor-wrapper" class="col-lg-6">
                            <form id="queryform" role="form" method="get" action="simplifyquery">    
                                <div class="form-group">
                                    <label>QL query editor</label>
                                    <button type="reset" class="btn btn-xs btn-default reset-btn">Reset editor</button>
                                    <textarea class="form-control" id="querypanel" name="querypanel"  placeholder="Enter QL query" rows="9">
                                        {{#if session.querytext}}
                                            {{session.querytext}}
                                        {{/if}}
                                    </textarea>
                                </div>           
                                <input type="hidden" name="parsedquery" id="parsedquery">
                                <button type="button" class="btn btn-xs btn-success simplify-btn">Simplify query!</button>
                            </form>
                            
                            <div class="alert alert-warning" id="alertsimplify"  style="display: none">
                                <strong> Warning! </strong> Enter a QL query to simplify.
                            </div>
                            <div class="alert alert-danger" style="display: none"></div>
                        </div>  

                        <div id="simplified-wrapper" class="col-lg-6">
                            <form id="getsparqlqueryform" role="form" method="get">    
                                <div class="form-group">
                                    <label>Simplified QL query</label>
                                    <textarea class="form-control" id="simplequerypanel" name="simplequerypanel" disabled="" placeholder="Simplified QL query" rows="9">                
                                    {{#if session.simplequery}}
                                        {{#showQuery session.simplequery}}
                                        {{/showQuery}}
                                    {{/if}}
                                    </textarea>
                                </div>
                                <button type="button" class="btn btn-xs btn-success sparqlquery-btn">Get SPARQL query!</button>
                                <button type="button" class="btn btn-xs btn-success sparqlquerybest-btn">Get a better SPARQL query!</button>
                                <div class="alert alert-warning" id="alertget" style="display: none">
                                    <strong> Warning! </strong> There is no QL query run.
                                </div>    
                            </form>
                        </div>
                    </div>
                </div>    
            </div>                    
        </div>
        <div class="panel-group" id="accordionSPARQL">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordionSPARQL" href="#collapseSparql">
                            <i class="fa fa-share-alt fa-fw"></i> 
                            SPARQL query
                            <i class="fa fa-fw fa-chevron-down"></i>
                        </a>
                    </h3>
                </div>
                 {{#if sparqlaccordion}}
                <div id="collapseSparql" class="panel-collapse collapse in">
                {{else}}
                <div id="collapseSparql" class="panel-collapse collapse">
                {{/if}}
                    <div class="panel-body">
                        <form id="runqueryform" role="form" method="get" action="runsparqlquery">    
                            <div class="form-group">
                                <textarea class="form-control" id="sparqlquerypanel" name="sparqlquerypanel" placeholder="SPARQL query" rows="15">
                                {{#if session.sparqlquery}}
                                 {{#showSparqlQuery session.sparqlquery}}
                                {{/showSparqlQuery}}
                                {{/if}}
                                </textarea>
                            </div>
                            <button type="button" class="btn btn-xs btn-success getresults-btn">Get results!</button>
                            <div class="alert alert-warning" id="alertrun" style="display: none">
                                <strong> Warning! </strong> There is no query to run.
                            </div>    
                        </form>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordionSPARQL" href="#collapseResults">
                            <i class="fa fa-share-alt fa-fw"></i> 
                            SPARQL Query results
                            <i class="fa fa-fw fa-chevron-down"></i>
                        </a>
                    </h3>
                </div>



                <div id="collapseResults" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="working" id="gettingresults"="display: none">
                            <i class="fa fa-refresh fa-spin fa-5x"></i>                          
                        </div>
                        {{#if session.sparqlcols}}
                            {{#saveResultColumns session.sparqlcols}}
                            {{/saveResultColumns}} 
                        {{/if}}    
                        <table id="resultstable" 
                            data-classes="table table-hover table-condensed"
                            data-search="true"
                            data-striped="true"
                            data-show-refresh="true"
                            data-show-toggle="true"
                            data-show-columns="true"
                            data-height="400"
                            data-pagination="true">
                        </table>    
                        
                    </div>
                </div>
            </div>
        </div>
    {{/if}}   

    </div>  
    


  
<!-- /.row -->

   {{#section 'jquery'}}
    <script>

      function queryParams() {
            return {
                type: 'owner',
                sort: 'updated',
                direction: 'desc',
                per_page: 100,
                page: 1
            };
        }

      $(document).ready(function () {

         //get cubes 
        $('.getcubes-btn').on ("click",(function () {
            $('.working').show();
            $('#getcubes').submit();    
        }
        ));

        //simplify query 
         $('.simplify-btn').on ("click",(function () {
            $('.alert-danger').hide();
            $('.alert-success').hide();
            $('.alert-warning').hide();
            var originalQuery = $('#querypanel').val();
            if (originalQuery){
              try {
                var parser = new qljs.Parser();
                var result = parser.parse(originalQuery);
                
                $('#parsedquery').val(JSON.stringify(result));
                $('#queryform').submit();    
              } catch (e) {
                $('.alert-danger').html(String(e));
                $('.alert-danger').show();
              }
            } else{
                $('#alertsimplify').show();
            }
        }
        )); 

        //get sparql query 
        $('.sparqlquery-btn').on ("click",(function () {
            $('.alert-danger').hide();
            $('.alert-success').hide();
            $('.alert-warning').hide();
            var simpleQuery = $('#simplequerypanel').val();
            if (simpleQuery){
              try {
                $('#getsparqlqueryform').attr('action', 'getsparqlquery');
                $('#getsparqlqueryform').submit();    
              } catch (e) {
                $('.alert-danger').html(String(e));
                $('.alert-danger').show();
              }
            } else{
                $('#alertget').show();
            }
        }
        )); 
        //get sparql query 
        $('.sparqlquerybest-btn').on ("click",(function () {
            $('.alert-danger').hide();
            $('.alert-success').hide();
            $('.alert-warning').hide();
            var simpleQuery = $('#simplequerypanel').val();
            if (simpleQuery){
              try {
                $('#getsparqlqueryform').attr('action', 'getbettersparqlquery');
                $('#getsparqlqueryform').submit();    
              } catch (e) {
                $('.alert-danger').html(String(e));
                $('.alert-danger').show();
              }
            } else{
                $('#alertget').show();
            }
        }
        ));


          //get results
         $('.getresults-btn').on ("click",(function () {
            $('.alert-danger').hide();
            $('.alert-success').hide();
            $('.alert-warning').hide();
            $('#gettingresults').show();
            $("#collapseResults").collapse('show');
            var sparqlquery = $('#sparqlquerypanel').val();
            
            if(typeof sparqlcols !== 'undefined' && sparqlquery){
                try {
                    var cols = [];
                    sparqlcols.forEach(function(column){
                        var c =  { 
                            title: column.colname,
                            field: column.colvar,
                            sortable: true
                        };
                        cols.push(c);
                    });
                    $.get( 'runsparql',{sparqlquery:sparqlquery}, function(res) {
                        $('#resultstable').bootstrapTable({
                            data: JSON.parse(res),
                            columns: cols
                        });
                        //$('#accordionSPARQL .in').collapse('hide');
                        $('#gettingresults').hide();
                    });
                
                  
                } catch (e) {
                    $('.alert-danger').html(String(e));
                    $('.alert-danger').show();
                }
            }else{
                $('#alertrun').show();
            }
        }
        ));  

        
         //reset query editor
        $('.reset-btn').on ("click",(function () {
            $('#querypanel').val('');
            $('#simplequerypanel').val('');
            $('.alert-danger').hide();
            $('.alert-warning').hide();
        }
        ));

        //load sample query
        $('.query-list').click(function() {
            $('#querypanel').val($(this).attr("value"));
            $('#simplequerypanel').val('');
            //expand QL editor panel in accordion and collapse sample queries panel
            $('#collapseQueries').collapse('hide');
            $('#collapseQLEditor').collapse('show');

            $('.alert-danger').hide();
            $('.alert-success').hide();
            $('.alert-warning').hide();
        });

       

        //hide side menu
        var $menu = $('#sidebar-wrapper');
        var $content = $('#main-wrapper');
        if ($.cookie('offcanvas') == 'hide') {
            $content.addClass('no-transition');
            $menu.hide();
            $menu.css('left', -($menu.outerWidth() + 10));
            $content.addClass('col-lg-12');
        }
        else if ($.cookie('offcanvas') == 'show') {
            $menu.show(1000).animate({ left: 0 });
            //  $menu.show();
            $content.removeClass('no-transition');
            $content.removeClass('col-lg-12');
        }

        $('.toggle-button').click(function () {
            $content.removeClass('no-transition');
            if ($menu.is(':visible')) {
                // Slide out
                $menu.animate({
                    left: -($menu.outerWidth() + 10)
                }, function () {
                    $menu.hide(1000);
                });
                $content.addClass('col-lg-12');
                $.cookie('offcanvas', 'hide');
            }
            else {
                // Slide in
                $menu.show(1000).animate({ left: 0 });
                $content.removeClass('col-lg-12');
                $.cookie('offcanvas', 'show');
            }
            if($content.hasClass('col-lg-12') && $menu.is(':hidden')) {
            $menu.animate({
                    left: 0
                }, function () {
                    $menu.show(1000);
                });
            //  $menu.show();
            $content.removeClass('no-transition');
            $content.removeClass('col-lg-12');
            }
        });
        $('.bs-tooltip').tooltip();

      });
    </script>  
    {{/section}}